body {
    font-family: 'Maven Pro', 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 960px;
}

h1, h2, h3 {
    text-align: center;
    color:#50362bbb;
}

ul {
    list-style-image: url("images/tiny-coffee-cup.gif");
}

.main-heading {
    color: #8f2020;
}

.coffee-beans {
    color: darkred;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(75, 28, 28);
    font-weight: bold;
}

a:hover {
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a:link, nav a:visited {
    background-color: rgba(87, 50, 50, 0.822);
    color: white;
    display: block;
    width: 160px;
    text-align: center;
    padding: 10px 0;
    margin-top: 8px;
}

nav a:hover {
    background-color: black;
}

aside {
    width: 280px;
    float: right;
    background-color: tan;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.photo-left {
    float: left;
    margin-right: 20px;
}

.photo-right {
    float: right;
    margin-left: 20px;
}

header {
    background-image: url("images/coffee-beans-background.jpg");
    height: 100px;
    margin-bottom: 70px;
}

header h1 {
    color: rgba(256,256,256,256);
    text-shadow: 2px 2px 4px #000000;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 50px;
    text-align: left;
}

footer {
    margin: 40px 0;
}

footer nav a:link, footer nav a:visited {
    color: gray;
    text-decoration: none;
    display: block;
    width: 160px;
    text-align: center;
    background-color: white;
}

footer nav a:hover {
    color: black;
}

td, th {
    border: 1px solid black;
    width: 20%;
    text-align: center;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

.popular {
    font-size: 20px;
    font-weight: bold;
    color: rgba(80, 7, 7, 0.767);
    padding-bottom: 10px;
}

video {
    margin-bottom: 20px;
    margin-left: 160px;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    filter: grayscale(50%);
}

.methods-of-grinding {
    text-align: left;
}